@using WebApplication1.Models
@model WebApplication1.Models.DayFormModel

<div class="help">
	<h4>Enter your votes below</h4>
	<p>
		You can vote to stake one player, and put one player in 'protective custody' for the night.
	</p>
	<p>
		Nothing will happen unless a majority of players vote for the same stake-victim or jailee.
	</p>
	<br />
</div>
@using (Ajax.BeginForm("DayInstruction", null, new AjaxOptions { OnFailure = "debug(xhr,status)", OnBegin = "clearForm()" }, new { @class = "form-horizontal" }))
{
	@Html.HiddenFor(m => m.TurnId)
	@Html.HiddenFor(m => m.ActorId)
	@Html.HiddenFor(m => m.GameId)
	@Html.ValidationSummary(false)

	<div class="row">
		<div class="col-sm-5">
			<label class="control-label pull-left">
				Jail: &nbsp;
			</label>
			@Html.DropDownListFor(m => m.JailWhom, Model.AllPlayers, "Nobody", new { @class = "select form-control " })
			<div class="clearfix"></div>
		</div>
		<div class="col-sm-5">
			<label class="control-label pull-left">
				Stake: &nbsp;
			</label>
			@Html.DropDownListFor(m => m.KillWhom, Model.OtherPlayers, "Nobody", new { @class = "select form-control" })
			<div class="clearfix"></div>
		</div>

	</div>
	<div class="row">

		<div class="col-xs-12">
			<div style="margin-top:-25px">
				<button type="submit" class="btn btn-info pull-right">Vote</button>
			</div>
		</div>
	</div>
}
<div class="comms-wrapper">
	@Html.Action("CommsForm", new { gameId = Model.GameId, pid = Model.ActorId })
</div>